<table class="table table-hover">
    <thead>
        <tr>
            <th>时间</th>
            <th>注册人数</th>
            <th>完善信息用户</th>
            <th>活跃用户</th>
            <th>用户总数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                昨日</td>
            <td>{{log.yesSignupCount}}</td>
            <td>0</td>
            <td>{{log.yesActiveUserNum}}</td>
            <td>{{log.totalNum}}</td>

        </tr>
        <tr>
            <td> 今日 </td>
            <td> {{log.todaySignupCount}}</td>
            <td>0</td>
            <td>{{log.todayActiveUserNum}}</td>
            <td>{{log.totalNum}}</td>

        </tr>
        <tr>
            <td>上周</td>
            <td>{{log.weekActiveUserNum}}</td>
            <td>0</td>
            <td>{{log.weekActiveUserNum}} </td>
            <td>{{log.totalNum}}</td>

        </tr>
        <tr>
            <td>本周</td>
            <td>{{log.weekActiveUserNum}}</td>
            <td>0</td>
            <td>{{log.weekActiveUserNum}} </td>
            <td>{{log.totalNum}}</td>

        </tr>
    </tbody>
</table>